*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  height: 100vh;
  width: 80%;
  /* background-color: hotpink; */
  display: grid;
  grid-template-columns: 1fr 1fr ;
  /* row-gap: 20px; */
  /* column-gap: 20px; */
  gap: 20px;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.container .box-1{
  background-color: red;
}
.container .box-2{
  background-color: blue;
}
.container .box-3{
  background-color: teal;
}
.container .box-4{
  background-color: yellow;
}
.nav{
  height: 70px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  color: white;
  z-index: 1;
}
.nav img{
  height: 50px;
}
.nav .nav-links{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.nav .nav-links li{
  font-size: 20px;
  font-weight: 800;
}
.side-bar{
  width: 20%;
  height: 100vh;
  background-color: #c2c2c2;
  z-index: 0;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  padding-top: 70px;
}
.side-bar .side-links{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.side-bar .side-links li{
  font-size: 20px;
  font-weight: 800;
}
.main-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}